:root {
--primary-color: #202030;
--secondary-color: #4DA1A9;
--tertiary-color: #F8F7FF;
--quaternary-color: #61E786;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--secondary-color);
  background-color: var(--primary-color)
}

/* header and footer link style */
.headerFooter {
  padding: 25px 0px;
  height: 100px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181824; 
}

.leftSideTitle {
  font-weight: bold;
  font-size: 36px;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  margin: 0;
  padding: 10px 10px 10px 60px;
  border-radius: 0 10px 10px 0;
}
  
.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.lists a {
  text-decoration: none;
  color: var(--secondary-color);
  margin: 0px 30px;
  padding: 0px 5px;
  font-weight: lighter;
  font-size: 1.6vw;
  border-bottom: 2px solid var(--secondary-color);
}

.lists a:hover {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  border-radius: 5px;
  border: none;
}

/* hero style */
.hero {
  background-image: url('../images/milky-way-hero.jpeg');
  background-position: center;
  background-size: cover;
  height: 350px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero-subtitle {
  font-weight: bold;
  font-size: 36px;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  padding: 10px 60px 10px 10px;
  border-radius: 10px 0 0 10px;
  margin-bottom: 15px;
}

/* about me style */
.about-me {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bodyTitle {
  width: 10%;
  text-align: right;
  padding: 10px;
  border-right: 5px solid var(--quaternary-color);
  height: 230px;
  color: var(--quaternary-color);

}

.about-me p {
  text-align: left;
  text-indent: 30px;
  font-size: 1.2em;
  width: 75%;
}

/* work section style */
.workSection {
  height: 1000px;
  display: flex;
  justify-content: space-around;
}

.workSection h2 {
  height: 500px;
}

.workSection div {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.destinyRunway {
  background-image: url('../images/titan.jpeg');
  background-position: 10% 10%;
}

.clandestine {
  background-image: url('../images/frostFist.jpeg');
  background-position: 10% 20%;
}

.soulOnFire {
  background-image: url('../images/soulOnFire.jpg');

}

.travel {
  background-image: url('../images/jacksonHole.jpeg');
  background-position: 10% 50%
}

.run-buddy {
  background-image: url('../images/run-buddy.jpg');

}

/* work project styling */
.project {
  height: 300px;
  opacity: .5;
  border-radius: 10px;
  background-size: cover;
}

.project:hover {
  opacity: 1;
  border: 5px solid var(--quaternary-color);
  border-radius: 10px;
}

#primaryProject {
  width: 95%;
}

.secondaryProject {
  width: 45%;
  background-size: cover;
}

/* additional footer style */
#contact-me-nav {
  font-size: 25px;
}