:root {
--primary-color: #202030;
--secondary-color: #4DA1A9;
--tertiary-color: #F8F7FF;
--quaternary-color: #61E786;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--secondary-color);
  background-color: var(--primary-color)
}

/* header and footer link style */
.headerFooter {
  padding: 25px 0px;
  height: 100px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181824; 
}

.leftSideTitle {
  font-weight: bold;
  font-size: 36px;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  margin: 0;
  padding: 10px 10px 10px 60px;
  border-radius: 0 10px 10px 0;
}
  
.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.lists a {
  text-decoration: none;
  color: var(--secondary-color);
  margin: 0px 30px;
  padding: 0px 5px;
  font-weight: lighter;
  font-size: 1.6vw;
  border-bottom: 2px solid var(--secondary-color);
}

.lists a:hover {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  border-radius: 5px;
  border: none;
  padding: 10px;
}

/* hero style */
.hero {
  background-image: url('../images/milky-way-hero.jpeg');
  background-position: center;
  background-size: cover;
  height: 350px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero img {
  height: 100px;
  width: 100px;
  left: 3px;
  top: 150px;
  position: fixed;
}

.hero-subtitle {
  font-weight: bold;
  font-size: 36px;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  padding: 10px 60px 10px 10px;
  border-radius: 10px 0 0 10px;
  margin-bottom: 15px;
}

/* about me style */
.about-me {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bodyTitle {
  width: 10%;
  text-align: right;
  padding: 10px;
  border-right: 5px solid var(--quaternary-color);
  height: 230px;
  color: var(--quaternary-color);
}

.about-me p {
  text-align: left;
  text-indent: 30px;
  font-size: 1.2em;
  width: 75%;
}

/* work section style */
.workSection {
  height: 1600px;
  display: flex;
  justify-content: space-around;
}

.workSection h2 {
  height: 500px;
}

.workSection div {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.workSection article {
  width: 45%
}

.destinyRunway {
  background-image: url('../images/titan.jpeg');
  background-position: 10% 10%;
}

.fullFill {
  background-image: url('../images/fullFill.png');
  background-position: 10% 20%;
}

.soulOnFire {
  background-image: url('../images/soulOnFire.jpg');

}

.roughStockRodeo {
  background-image: url('../images/roughStockRodeo.png');
  background-position: 10% 50%
}

.weatherGiFinder {
  background-image: url('../images/weatherGiFinder.jpg');

}

.yeOldeTechBlog {
  background-image: url('../images/yeOldeTechBlog.png');
}

/* work project styling */
.project {
  height: 500px;
  opacity: .5;
  border-radius: 10px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.project:hover {
  opacity: 1;
  border: 5px solid var(--quaternary-color);
  border-radius: 10px;
}

.project p {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: var(--primary-color);
  background-color: var(--quaternary-color);
  height: 40px;
  width: auto;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 0 5px 5px 0;
}

#primaryProject {
  width: 95%;
}

.secondaryProject {
  background-size: cover;
}

/* additional footer style */
#contact-me-nav {
  font-size: 25px;
}

/* Media query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {

  header {
    position: relative;
  }

  .workSection {
    height: 1000px;
  }

  .project {
    height: 300px;
    
  }

}

/* media query for tablets and smaller */
@media screen and (max-width: 768px) {
  .headerFooter {
    flex-direction: column;
    height: 150px;
  }

  .headerFooter .leftSideTitle {
    border-radius: 10px;
    padding: 10px;
  }

  .about-me {
    flex-direction: column;
    margin: 40px 0px;
  }

  .bodyTitle {
    border-right: 0px;
    border-bottom: 5px solid var(--quaternary-color);
    width: 80%;
    height: 45px;
    text-align: center;
  }

  .workSection {
    flex-direction: column;
    align-items: center;
    height: 750px;
  }

  .project {
    margin: 20px 0px;
    height: 200px;
  }

  .hero img {
    left: -10px;
  }
}

/* media query for phones and smaller */
@media screen and (max-width: 575px) {
  .lists a {
    font-size: 2.5vw;
    margin: 0px 10px;
  }

  .workSection {
    flex-direction: column;
    align-items: center;
    height: 1250px;
  }

  .project {
    margin: 20px 0px;
  }

  .workSection article {
    width: 95%;
  }

  .hero img {
    height: 75px;
    width: 75px;
    left: 0px;
  }

}